version: 2
jobs:
  build:
    working_directory: /tmp/build
    docker:
      - image: spikerlabs/angular4-cli
    steps:
      - checkout
      - run:
          name: install git
          command: apk add --no-cache git
# todo: configure tests to run in CI
#      - run:
#          name: Run test
#          command: ng test
      - run:
          name: Install all dependencies
          command: npm install
      - run:
          name: Build distribution
          command: ng build --environment prod
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            apk add --no-cache docker
            docker build -t "spikerlabs/scala-fun-frontend:$(git describe --tags)" .
      - deploy:
          name: Publish to Docker Hub
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u ${DOCKER_LOGIN} -p ${DOCKER_PASSWORD}
              docker push "spikerlabs/scala-fun-frontend:$(git describe --tags)"
              curl --user ${CIRCLE_API_TOKEN}: \
                --data build_parameters[CIRCLE_JOB]=deploy_to_gce \
                --data build_parameters[VERSION_TO_DEPLOY]=$(git describe --tags)
                --data revision=$CIRCLE_SHA1 \
                https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH
            fi
  deploy_to_gce:
    working_directory: /
    docker:
      - image: google/cloud-sdk
    steps:
      - run:
          name: Authenticate
          command: |
            echo $GCE_SERVICE | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/gcloud-service-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json

      - run:
          name: Select cluster
          command: |
            gcloud config set project pairing-buddy
            gcloud container clusters get-credentials pairing-buddy-2 --zone us-east1-d --project pairing-buddy
      - run:
          name: Deploy
          command: |
            kubectl set image deployments/scala-fun-frontend scala-fun-frontend=spikerlabs/scala-fun-frontend:$VERSION_TO_DEPLOY
