<div style="background-color: transparent">
<md-card>
<md-card-content>
<div id="dialog-content">
<h3>Goal</h3>
<p>
To aggregate and organise recordings of technical Scala talks from meetups and conferences around the globe.<br/>
Hopefully it will help in learning and spreading the knowledge.
</p>
<h3>Content ownership</h3>
<p>
The videos on scala.fun are aggregated from a publicly available recordings on Youtube and Vimeo.<br/>
They are not hosted here and are embedded inline with terms and conditions of those services.<br/>
We are not claiming ownership of any displayed videos - all right and and responsibilities stays with video owners.<br/>
You can get to original by clicking service icon on bottom right corner of the video.
</p>
<p>
We are not including private recordings or videos, where owners decided not to share them with the world.
If for some erroneous reason your private video is here and you want it to be removed - please contact at <a href="http://spikerlabs.com" target="_blank">spikerlabs.com</a>.
</p>
</div>
</md-card-content>
</md-card>
</div>
